// 
// Fonts
// 

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

// 
// variables
// 
$main-font:"Lato", sans-serif;
$topic-font:"Red Hat Display", sans-serif;
$main-color:#565656;
$text-color:#565656;
$sub-color:#7B7B7B;
$standart-width:1440px;
