.cards__card:nth-of-type(1) > .cards__card-flip {
  animation-delay: 0.2645993101s;
}

.cards__card:nth-of-type(2) > .cards__card-flip {
  animation-delay: 0.2014185653s;
}

.cards__card:nth-of-type(3) > .cards__card-flip {
  animation-delay: 0.6442425016s;
}

.cards__card:nth-of-type(4) > .cards__card-flip {
  animation-delay: 0.640466934s;
}

.cards__card:nth-of-type(5) > .cards__card-flip {
  animation-delay: 0.0666515455s;
}

.cards__card:nth-of-type(6) > .cards__card-flip {
  animation-delay: 0.4396551694s;
}

.cards__card:nth-of-type(7) > .cards__card-flip {
  animation-delay: 0.226090246s;
}

.cards__card:nth-of-type(8) > .cards__card-flip {
  animation-delay: 0.2352940829s;
}

.cards__card:nth-of-type(9) > .cards__card-flip {
  animation-delay: 0.7349184738s;
}

.cards__card:nth-of-type(10) > .cards__card-flip {
  animation-delay: 0.5805394512s;
}

.cards__card:nth-of-type(11) > .cards__card-flip {
  animation-delay: 0.9149781611s;
}

.cards__card:nth-of-type(12) > .cards__card-flip {
  animation-delay: 0.1162001973s;
}

.cards__card:nth-of-type(13) > .cards__card-flip {
  animation-delay: 0.8760458147s;
}

.cards__card:nth-of-type(14) > .cards__card-flip {
  animation-delay: 0.435583802s;
}

.cards__card:nth-of-type(15) > .cards__card-flip {
  animation-delay: 0.3038193156s;
}

.cards__card:nth-of-type(16) > .cards__card-flip {
  animation-delay: 0.8062701348s;
}

.cards__card:nth-of-type(17) > .cards__card-flip {
  animation-delay: 0.9520802387s;
}

.cards__card:nth-of-type(18) > .cards__card-flip {
  animation-delay: 0.2652531131s;
}

.cards__card:nth-of-type(19) > .cards__card-flip {
  animation-delay: 0.3019354551s;
}

.cards__card:nth-of-type(20) > .cards__card-flip {
  animation-delay: 0.679633094s;
}

.cards__card:nth-of-type(21) > .cards__card-flip {
  animation-delay: 0.1422641006s;
}

.cards__card:nth-of-type(22) > .cards__card-flip {
  animation-delay: 0.1707167373s;
}

.cards__card:nth-of-type(23) > .cards__card-flip {
  animation-delay: 0.5635674081s;
}

.cards__card:nth-of-type(24) > .cards__card-flip {
  animation-delay: 0.8599504354s;
}

.cards__card:nth-of-type(25) > .cards__card-flip {
  animation-delay: 0.2760661406s;
}

.cards__card:nth-of-type(26) > .cards__card-flip {
  animation-delay: 0.3262678992s;
}

.cards__card:nth-of-type(27) > .cards__card-flip {
  animation-delay: 0.1137350345s;
}

.cards__card:nth-of-type(28) > .cards__card-flip {
  animation-delay: 0.2730594103s;
}

.cards__card:nth-of-type(29) > .cards__card-flip {
  animation-delay: 0.9453854644s;
}

.cards__card:nth-of-type(30) > .cards__card-flip {
  animation-delay: 0.724803598s;
}

.cards__card:nth-of-type(31) > .cards__card-flip {
  animation-delay: 0.3531201163s;
}

.cards__card:nth-of-type(32) > .cards__card-flip {
  animation-delay: 0.5985910611s;
}

.cards__card:nth-of-type(33) > .cards__card-flip {
  animation-delay: 0.2247609726s;
}

.cards__card:nth-of-type(34) > .cards__card-flip {
  animation-delay: 0.4222807339s;
}

.cards__card:nth-of-type(35) > .cards__card-flip {
  animation-delay: 0.2975776613s;
}

.cards__card:nth-of-type(36) > .cards__card-flip {
  animation-delay: 0.3219762106s;
}

svg {
  width: 25px;
  height: 15px;
}

.icon_top {
  transform: rotate(0de);
}

.icon_center {
  width: 25px;
  height: 25px;
}

.icon_bottom {
  transform: rotate(180deg);
}

body {
  background-color: darkgray;
}

.wrapper {
  width: 95vw;
  height: 95vh;
  background-color: rgb(72, 62, 62);
  position: relative;
  left: 3%;
  top: 32px;
  border-radius: 70%/500%;
  background: linear-gradient(bottom, black, gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrapper .cards__box {
  gap: 2%;
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.wrapper .cards__box .cards__box__card {
  width: 130px;
  height: 180px;
  border-radius: 5%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cards__card {
  position: relative;
  width: 130px;
  height: 180px;
  perspective: 1500px;
}
.cards__card:hover .cards__card-flip {
  animation: none;
  transform: rotateY(360deg);
}

.cards__card-flip {
  animation-name: flip;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.cards__card:hover .cards__card-flip {
  transform: rotateY(180deg);
  animation-play-state: paused;
}

.cards__card-flip__front, .cards__card-flip__back {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-sizing: border-box;
  border: 5px solid black;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cards__card-flip__front img {
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 5%;
}

.cards__card-flip__back {
  background-color: white;
  transform: rotateY(180deg);
}

.top__suit {
  padding: 5px 0 0 5px;
  align-self: flex-start;
  gap: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top__suit p {
  padding-left: 3px;
  width: 15px;
  height: 15px;
  margin: 0;
}

.bottom__suit {
  align-self: flex-end;
  padding: 5px 0 0 5px;
  gap: 3px;
  transform: rotate(180deg);
  gap: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom__suit p {
  padding-left: 3px;
  width: 15px;
  height: 15px;
  margin: 0;
}

.chirva,
.chresta,
.bubna,
.pika {
  gap: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.chirva,
.bubna {
  color: #912f2f;
}/*# sourceMappingURL=style.css.map */