@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Madimi+One&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 1440px;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: #828282;
}

h2 {
    font-size: 34px;
    font-weight: 700;
}

header, main, footer {
    width: inherit;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    width: 1440px;
    text-align: center;
}

/* 
//Header
*/

.header {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

hr {
    position: absolute;
    width: 970px;
    top: 72px;
}

.header__menu {
    display: flex;
    width: 496px;
    padding: 0;
    gap: 40px;
    height: 30px;
    margin: 25px 0;
}

.header__menu__item a {
    transition: all .3s ease-in-out;
}

.header__menu__item a:hover {
    color: #070707;
}
/* 
//FIrst section
*/

.first-screen__title {
    font-size: 48px;
    font-weight: 700;
    height: 60px;
    width: 300px;
    margin-top: 0;
    margin-top: 12px;
    margin-bottom: 40px;
}

.first-screen__container {
    width: 970px;
    height: 497px;
}

.first-screen__img {
    width: 970px;
    height: 387px;
    margin-top: 9px;
}

/* 
//About me section 
*/

.about-me__section {
    background-color: #F6F6F6;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.about-me__container {
    width: 480px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-me__title {
    font-size: 34px;
    padding-bottom: 18px;
    padding-top: 6px;
}

.about-me__text {
    margin: 0;
    text-align: center;
}

.about-me__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.about-me__container :nth-child(3) {
    margin: 30px 0 30px 0;
}

/* 
//Slills section
*/

.skills-text__container {
    margin-bottom: 36px;
}

.skills-products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #828282;
    font-size: 14px;
    font-weight: 700;
    width: 170px;
    height: 230px;

}

.skills-products__item  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.skills-products__item__stars img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.skills-text__section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 564px;
}

.skills-text__title {
    margin-bottom: 4px;
}

.skills-text__description {
    margin-top: 16px;
}

.skills-products__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 90px;
    margin-bottom: 20px;
}

.skills-products__item__stars {
    display: flex;
    column-gap: 9px;
   margin-top: 60px;
   margin-bottom: 10px;
}

/* 
//Portfolio section
*/

.portfolio__title {
    margin-top: 100px;
    margin-bottom: 40;
}

.portfolio__section {
    background-color:#F6F6F6;
}

.projects__project__link {
    margin-top: 48px;
}

.projects__project {
    margin-bottom: 70px;
}

/* 
//Footer
*/

.footer {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacts__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 55px;
}

.contacts__text h2 {
    margin-bottom: 20px;
}

.contacts__text p{
    color: #070707;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts__socails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts__socails__media {
    display: flex;
   column-gap:50px;
}

.contacts__socails button {
    color:black;
    background-color: white;
    border-radius: 22px;
    padding: 0 16px 0 16px;
    width: 180px;
    height: 44px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
}

.contacts__socails button:hover {
    background-color: black;
    color: white;
}

.contacts__socails__media a {
    transition: all .2s ease-in;
}

.contacts__socails__media a:hover {
    opacity: 0.5;
}

.contacts__socials-text {
    text-align: center;
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    margin-top: 36px;
}

