@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}
@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}
@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}
.box {
  width: 100vw;
  height: 862px;
  position: relative;
}
.box .text {
  color: aqua;
  position: absolute;
}

@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}
@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}
@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}
@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleoregular.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Bold";
  src: url("../../fonts/JosefinSans-Bold.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Light";
  src: url("../../fonts/JosefinSans-Light.woff2") format(woff2);
}
@font-face {
  font-family: "Josefin Regular";
  src: url("../../fonts/JosefinSans-Regular.woff2") format(woff2);
}