@import "../variables/variables.scss";

.last__section {
    width: 81.4%;
    margin: 0 auto 90px auto;

    & .last__title {
        font-family: "Red Hat Display", sans-serif;
        font-size: 23px;
        font-weight: 400;
        line-height: 38.18px;
        letter-spacing: 0.1em;
        text-align: left;
        margin: 0;
        & svg {
            width: 25px;
            height: 13px;
            margin-top: 15px;
            display: block;
        }
        @include phone-landscape {
            font-size: 24px;
            line-height: 39.84px;
        }
    }

    & .last__text {
        gap: 32px;
        font-size: 19px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-align: left;
        margin: 0;
        color: #565656;

        & p:nth-child(1) {
            max-width: 67%;
            margin: 0;
            @include tablet-landscape {
                max-width: 100%;
                text-align: right;
            }
            @include phone-landscape {
                text-align: left;
            }
        }

        & p:nth-child(2) {
            max-width: 67%;
            margin: 0;
            @include tablet-landscape {
                max-width: 100%;
                text-align: right;
            }
            @include phone-landscape {
                text-align: left;
            }
        }
        @include tablet-landscape {
            gap: 20px;
        }
        @include phone-landscape {
            font-size: 18px;
        }
        @include flexy(flex, flex-end, flex-end, column)
    }
    @include tablet-landscape {
        flex-direction: column;
        gap: 70px;
    }
    @include phone-landscape {
        gap: 50px;
    }
    @include flexy(flex,space-between,flex-start,row)
}