@import "../variables/variables.scss";

.posts__section {
    width: 81.3%;
    margin: 0 auto;
    gap: 3rem;
    margin-bottom: 90px;
    & .posts__head {
        width: 100%;
        & .posts__title {
            @extend %heading_h2;
        }

        & .posts__btn {
            border: none;
            cursor: pointer;
            background-color: transparent;
            & svg {
                margin-left: 15px;
                width: 25px;
                height: 12px;
            }
            @extend %text_latest_posts;
            @include phone-portrait {
                padding: 0;
            }
        }
        @include tablet-portrait {
            width: 111%;
        }
        @include phone-portrait {
            flex-direction: column;
            align-items: flex-start;
        }
        @include phone-portrait {
            gap: .6rem;
        }
        @include flexy(flex,space-between,center,row);
    }
    @include flexy(flex,center,flex-start,column);

    & .posts__list-cards {
        gap: 30px;

        & #post_box-2 {
            @include tablet-portrait {
                flex-direction: row-reverse;
            }

            @include phone-portrait {
                flex-direction: column;
            }
        }

        @include flexy(flex,center,flex-start,row);
        @include tablet-portrait {
            flex-direction: column;
        }
    }
    @include tablet-portrait {
        margin-left: 35px;
        margin-bottom: 70px;
    }
    @include phone-portrait {
        margin-left: 10px;
        gap: 2rem;
    }
}

.posts__list-cards__card {
    gap: 25px;

    &__sub {
        width: 100%;
        & h6, time {
            @extend %subtitles_latest_posts;
        }

        @include flexy(flex,space-between,center,row);
    }

    &__text {
        gap: 20px;
        & h3{
            @extend %topics_latest_posts;
            @include phone-portrait {
                max-width: 300px;
            }
        }
        
        & p {
            max-width: 370px;
            @extend %text_latest_posts;
            @include phone-portrait {
                max-width: 300px;
            }
        }
        @include tablet-portrait {
            width: 340px;
        }
        @include flexy(flex,space-between,flex-start,column);
    }

    @include tablet-portrait {
        flex-direction: row;
        gap: 10px;
    }

    @include phone-portrait {
        flex-direction: column;
    }

    @include flexy(flex,center,flex-start,column);
}

.posts__info {
    @include tablet-portrait {
        gap: 10px;
    }
    @include phone-portrait {
        width: 89%;
    }
    @include flexy(flex,center,flex-start,column);
}