@import "../more/variables.scss";

.footer {

    position: relative;

    &__gradient {
        position: absolute;
        background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
        top: 0;
        left: 0;
        z-index: 1;
        @include size(inherit,100%)
    }

    @include size(1000px, 100%)
}