@import "../more/variables.scss";

.news {

    &__gradient {
        position: absolute;
        z-index: -2;
        opacity: 1;
        background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);

        @include size(inherit,inherit)
    }

    &__background {
        position: absolute;
        bottom: 0;
        opacity: .1;
        z-index: -1;
        @include size(inherit,inherit)
    }

    &__title {
        position: relative;
        z-index: 2;
        color: white;
        margin: 0 0 90px 0;

        &::before {
            content: "";
            display: block;
            width: 100px;
            position: relative;
            box-sizing: border-box;
            border: 1px solid white
        }

        @include size(84px,auto);
        @extend %title__what;
        @include flex(space-between,center,column,no-wrap)
    }

    @include size(978px,100%);
    @include flex(center,center,column,no-wrap);
}

.news__slider {

    &__text {
        gap: 10px;
        margin-bottom: 60px;

        & h4 {
            max-width: 330px;
            @extend %news__title;
        }

        & p {
            max-width: 330px;
            @extend %news__text;
        }

        @include flex(center,center,column,no-wrap)
    }

    &__avatar {
        border-radius: 50%;
        gap: 15px;
        margin-left: 10px;
        align-self: flex-start;
        @include flex(flex-start,center,row,no-wrap);
    }

    &__item {
        margin: 0 10px 0 10px;
        background-color: white;

        & img {
            margin-bottom: 20px;
        }

        @include size(514px, 370px);
        @include flex(flex-start,center,column,no-wrap);

        @include desctop-l-portrait {
        }
    }

    @include size(auto,1170px);
    @include flex(center,center,row,no-wrap);

    @include desctop-xl-portrait {
        width: 780px;
    }

    @include tablet-xl-portrait {
        width: 390px;
    }
}

.news__slider > .slick-dots.slick-dots {
    position: relative;
    gap: 40px;

    & li {
        box-sizing: border-box;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid white;

        @include size(15px,15px);
    }

    & li button::before {
        color: none !important;
        opacity: 0 !important;
    }

    .slick-active {
        background-color: white;
    }

    @include size(50px, auto);
    @include flex(center,center,row,no-wrap)
}

.news__slider > .slick-prev {

    &::before {
        transform: rotate(45deg);
        content: "";
        display: block;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        box-sizing: border-box;
        @include size(9px,8.7px)
    }

    border: 1px solid white;
    border-radius: 50%;
    right: 100%;
    left: -5% !important;
    @include size(40px,40px);
    @include flex(center,center,row,no-wrap);

    @include tablet-xl-portrait {
        left: -15% !important;
    }
}
.news__slider > .slick-next {

    &::before {
        transform: rotate(225deg);
        content: "";
        display: block;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        box-sizing: border-box;
        @include size(9px,8.7px)
    }

    border: 1px solid white;
    border-radius: 50%;
    right: -5% !important;
    @include size(40px,40px);
    @include flex(center,center,row,no-wrap);

    @include tablet-xl-portrait {
        right: -15% !important;
    }
}

.news__slider__avatar__info {
    margin-bottom: 15px;

    & p {
        @extend %news__avatar;
    }

    & time {
        @extend %news__time;
    }

}
